@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

/* Hide scrollbar for Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge */
.hide-scrollbar {
    -ms-overflow-style: none;
}
